@media only screen and (max-width: 992px){

/* NAVGATION */
    .offcanvas-header{background: var(--primary);}
    .offcanvas-body{background: var(--secondary);}

/* WORK SECTION */
    .swap{flex-direction: column-reverse;}

}