# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
coverage/

# Vite-related files
*.local
.vite/

# Cypress testing files
/cypress/videos/
/cypress/screenshots/

# Editor and IDE settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# MacOS and system files
.DS_Store
Thumbs.db

# Cache
*.cache
.cache/
