@media only screen and (min-width: 768px){
    nav{
        & .nav{width: unset !important;}
    }
    #home{padding-top: 154px;

    }
}

@media only screen and (min-width: 992px){
    #home{
        & h1{letter-spacing: 1.5rem;}
    }
}
@media only screen and (min-width: 1200px){
        .parent {display: grid;grid-template-columns: repeat(4, 1fr);grid-template-rows: 130px 1fr 1fr;grid-column-gap: 15px;grid-row-gap: 15px;
    & h1{font-size: clamp(1em, 10vw, 10em); letter-spacing: .2em;}
}

.div1 {display: grid; place-items: center; margin: unset; width: unset; grid-area: 1 / 1 / 2 / 4; }
.div2 {display: grid; place-items: center; margin: unset; width: unset; grid-area: 2 / 1 / 4 / 2; background: var(--secondary);}
.div3 {display: grid; place-items: center; margin: unset; width: unset; grid-area: 3 / 2 / 4 / 5; background: var(--secondary); }
.div4 {display: grid; place-items: center; margin: unset; width: unset; grid-area: 1 / 4 / 3 / 5; background: var(--secondary); }
.div5 {display: grid; place-items: center; margin: unset; width: unset; grid-area: 2 / 2 / 3 / 4; background: var(--secondary); }


}