@media only screen and (max-width: 992px){

/* NAVGATION */
    .offcanvas-header{background: var(--primary);}
    .offcanvas-body{background: var(--secondary);}

/* WORK SECTION */
    #work{padding: 5rem 0 2rem;}
    .swap{flex-direction: column-reverse;}
}


@media only screen and (max-width: 557px){
    #home{
        figure{display: none;}
    }
}