@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css');

@import url('../../node_modules/aos/src/sass/aos.scss')

/* GLOBALS */
:root{
    --primary: #222831;
    --secondary: #393E46;
    --tertiary: #00ADB5;
    --accent: #EEEEEE;
}

a{text-decoration: none;
    &:hover{color: var(--tertiary)}
    &:active{color: var(--tertiary);}
}

*{font-family: 'Roboto', sans-serif;}

.shadow-box{box-shadow: 0px 0px 20px 0 var(--accent);}

html,body{width: 100%; height: 100%;}


/* NAVIGATION */
nav{width: 100%;}
.bi-list{color: white; font-size: 1.5rem;}
.navbar-toggler{border-color: #fff;}
.active{color: var(--tertiary);}
nav{background: var(--primary);}
.logo{width: 100%; max-width: 5rem;}




/* HOME */
#home{width: 100%; min-height: 100vh;position: relative;
    background-color: var(--primary);
    & figure{z-index: -1;}
    & img{height: 85vh;}
    & h1{color: var(--tertiary); letter-spacing: .2em;}
    & #positions{color: #fff; height: 1.5rem;}
    & .cv{background: var(--secondary); margin-top: 5rem !important;}
    & .social-media *{color: var(--tertiary); font-size: 1.2em;}
}   

/* WORK */
#work{padding: 4rem 0; background: var(--secondary);
    & a{vertical-align: middle; height: 2.5rem; width: fit-content !important; margin: 1rem 0}
    & i{color: var(--tertiary); font-size: 1.2em;}
}

