@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* GLOBALS */
:root{
    --primary: #222831;
    --secondary: #393E46;
    --tertiary: #00ADB5;
    --accent: #EEEEEE;
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Merriweather Sans', sans-serif;
    --tertiary-font: 'Varela', sans-serif;
}

.bg-primary{background-color: var(--primary) !important;}
.bg-secondary{background-color: var(--secondary) !important;}
.bg-tertiary{background-color: var(--tertiary) !important;}
.bg-accent{background-color: var(--accent) !important;}
.text-primary{color: var(--primary) !important;}
.text-secondary{color: var(--secondary) !important;}
.text-tertiary{color: var(--tertiary) !important;}
.text-accent{color: var(--accent) !important;}
.font-primary{font-family: var(--primary-font);}
.font-secondary{font-family: var(--secondary-font);}
.font-tertiary{font-family: var(--tertiary-font);}

h1,h2,h3{font-family: var(--primary-font);}
h4,h5,h6{font-family: var(--secondary-font);}
p,span,small,mark{font-family: var(--tertiary-font)};

a{text-decoration: none; font-family: var(--secondary-font);
    &:hover{color: var(--tertiary) !important;}
    &:active{color: var(--tertiary) !important;}
}

*{font-family: 'Roboto', sans-serif !important;}

.shadow-box{box-shadow: 0px 0px 20px 0 var(--accent);}

html,body{width: 100%; height: 100%;   scroll-behavior: smooth;}
header{z-index: 999999;}
/* header::before{content: ""; position: absolute; top: 0; left: 0; width: 100%; background-color: black; height: 100%; opacity: 40%; z-index: -1;} */

/* NAVIGATION */
.projects:hover{color: var(--tertiary) !important;}
.contact a:hover{color: var(--tertiary) !important;}
.nav{width: 100%; background: var(--primary);
    & i{font-size: 1.5em; color: var(--accent);}
    & .logo{width: 100%; max-width: 5rem;}
    & a:hover{transform: scale(1.2) !important; transition: .2s ease-in-out; color: var(--tertiary) !important;}
}
.contact a{position: relative;}
.header-background {
    background:  rgb(37 34 34 / 80%) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
    transition: background 0.3s ease-in-out !important;
  }
/* .contact a:first-child::after{content: ""; background-color: var(--accent); position: absolute; right: -10px; height: 1.5rem; width: 2px; top: 4px;} */
/* nav .nav-item:hover{transform: scale(1.2) !important;}

/* HOME SECTION */
#home{padding-top: 170px;
    & h1{font-size: clamp(3em, 10vw, 10em); font-family: var(--primary-font);} 
    & #positions{height: 4rem; }
    & a{width: fit-content;
        &:hover{color: var(--tertiary) !important; background-color: var(--secondary) !important; }
    }   
}
.profile-img{text-align: center; width: 100%;}
.profile-img img{object-fit: cover; margin: 0 auto; border-radius: 50%; width: 150px; height: 150px;}

#projects{padding-top: 250px;}
.card{width: 18rem; padding: 1rem;}
.card-body{padding: 0 !important;}
.card-body img:hover{transform: scale(1.2);}
.back{position: relative;}
.back:hover{color: var(--tertiary) !important;}
.back::before{content: "\F12F"; position: absolute; left: -20px; top: 0; font-family: "bootstrap-icons";}

.skill{display: flex; justify-content: center; gap: 5rem;}

.arrows {width: 60px;height: 72px;}

    .arrows path {stroke: #2994D1;fill: transparent;
	stroke-width: 1px;animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;}

    @keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }

    @-webkit-keyframes arrow /*Safari and Chrome*/{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }

    .arrows path.a1 {animation-delay:-1s;-webkit-animation-delay:-1s; /* Safari 和 Chrome */}

    .arrows path.a2 {animation-delay:-0.5s;-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */}

    .arrows path.a3 {animation-delay:0s;-webkit-animation-delay:0s; /* Safari 和 Chrome */
    }

/* ABOUT ME  SECTION   */

#about{padding: 3rem 0;
    & .skills{grid-template-columns: repeat(3, 1fr); gap: 2rem; align-content: center; justify-items: center;
        & img{width: 3rem;}
    }
}

/* WORK SECTION*/
.parent {display: flex; flex-direction: column; height: 100%; gap:1rem;
    & h1{font-size: clamp(1em, 13vw, 30em); text-align: center;}
    & img{width: 25rem;}
}

.div1 {display: grid; place-items: center; width: 100%; margin: 0 auto;}
.div2 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }
.div3 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }
.div4 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }
.div5 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }

#work{padding: 2rem 0;
    & .skills{ justify-content: space-around; display: flex; flex-wrap: wrap;
        & img{width: 2rem;}
    }
    & .parent{
        a{width: fit-content; margin: 0 auto;
            &:hover{color: var(--tertiary) !important;}
        }
        
    }
}

/* CONTACT ME SECTION */
#contact{
    & h1{font-weight: 900; color: var(--accent); font-size: clamp(1em, 10vh, 15em);}
    & p{
        & span{font-weight: 900;}
    }
}

