@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Varela&display=swap');


/* ~~~~~Popup Modal~~~~~ */
/*Modal box*/
#Modal{display:block; height: 100%; position: fixed; width: 100%; background-color: rgba(0,0,0,0.4); z-index: 9999999;}
#Mod_container{width: 70rem; margin: 0 auto; text-align: center; background: #fff; height: auto; max-width: 100%; border: 3px solid #575757; position: fixed; transform: translate(-50%,-50%); top: 50%; left: 50%;}
.Mod_text{font-size:19px; padding:32px 18px;} 
.Mod_text p span{display:block; font-weight: bold; font-size: 22px; height: auto;}
.close{position: absolute; right: 6px; top: 6px; font-weight: bold; font-size: 16px; color: #fff; font-family: Sans-serif; width: 25px; text-align: center; border-radius: 12px; height: 25px; line-height: 22px; cursor: pointer; background: #42b9f7;}
.Mod_text p{animation: blink 1s infinite; padding: 0; margin: 0;}
@keyframes blink{
    0%, 49%, 100%{
        opacity: 0;
    }
    50%, 99%{
        opacity: 1;
    }
}

/* GLOBALS */
:root{
    --primary: #222831;
    --secondary: #393E46;
    --tertiary: #00ADB5;
    --accent: #EEEEEE;
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Merriweather Sans', sans-serif;
    --tertiary-font: 'Varela', sans-serif;
}

.bg-primary{background-color: var(--primary) !important;}
.bg-secondary{background-color: var(--secondary) !important;}
.bg-tertiary{background-color: var(--tertiary) !important;}
.bg-accent{background-color: var(--accent) !important;}
.text-primary{color: var(--primary) !important;}
.text-secondary{color: var(--secondary) !important;}
.text-tertiary{color: var(--tertiary) !important;}
.text-accent{color: var(--accent) !important;}
.font-primary{font-family: var(--primary-font);}
.font-secondary{font-family: var(--secondary-font);}
.font-tertiary{font-family: var(--tertiary-font);}

h1,h2,h3{font-family: var(--primary-font);}
h4,h5,h6{font-family: var(--secondary-font);}
p,span,small,mark{font-family: var(--tertiary-font)};

a{text-decoration: none; font-family: var(--secondary-font);
    &:hover{color: var(--tertiary) !important;}
    &:active{color: var(--tertiary) !important;}
}

*{font-family: 'Roboto', sans-serif;}

.shadow-box{box-shadow: 0px 0px 20px 0 var(--accent);}

html,body{width: 100%; height: 100%;}


/* NAVIGATION */
nav{width: 100%; background: var(--primary);
    & i{font-size: 1.5em; color: var(--accent);}
    & .logo{width: 100%; max-width: 8rem;}
    & a:hover{transform: scale(1.2); color: var(--tertiary);}
}

/* HOME */
#home{min-height: 100vh; padding-top: 214px;
    & h1{font-size: clamp(3em, 15vw, 15em); font-family: var(--primary-font);} 
    & #positions{min-height: 8rem; }
    & a{width: fit-content;
        &:hover{color: var(--tertiary) !important;}
    }   
}

.arrows {width: 60px;height: 72px;}

    .arrows path {stroke: #2994D1;fill: transparent;
	stroke-width: 1px;animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;}

    @keyframes arrow{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }

    @-webkit-keyframes arrow /*Safari and Chrome*/{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }

    .arrows path.a1 {animation-delay:-1s;-webkit-animation-delay:-1s; /* Safari 和 Chrome */}

    .arrows path.a2 {animation-delay:-0.5s;-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */}

    .arrows path.a3 {animation-delay:0s;-webkit-animation-delay:0s; /* Safari 和 Chrome */
    }

/* ABOUT ME     */

#about{padding: 3rem 0;
    & .skills{grid-template-columns: repeat(3, 1fr); gap: 2rem; align-content: center; justify-items: center;
        & img{width: 3rem;}
    }
}

/* WORK */
.parent {display: flex; flex-direction: column; height: 100%; gap:1rem;
    & h1{font-size: clamp(1em, 13vw, 30em); text-align: center;}
    & img{width: 25rem;}
}

.div1 {display: grid; place-items: center; width: 100%; margin: 0 auto;}
.div2 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }
.div3 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }
.div4 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }
.div5 {display: grid; place-items: center; width: 100%; margin: 0 auto;background: var(--secondary); }

#work{padding: 2rem 0;
    & .skills{ justify-content: space-around; display: flex; flex-wrap: wrap;
        & img{width: 2rem;}
    }
    & .parent{
        a{width: fit-content; margin: 0 auto;
            &:hover{color: var(--tertiary) !important;}
        }
        
    }
}


